.heading {
    background: black;
    opacity: 85%;
    color: #00ccff;
    padding: 5px;
    border-radius: 5px;
}

body {
    background: url("https://media3.giphy.com/media/NKpw4yuMufUhq/source.gif");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.content {
    background: black;
    opacity: 0.80;
    color: white;
    margin-top: 20px;
}

.credit {
    font-style: italic;
    text-align: center;
    color: #00ccff;
}

.credit a:visited, .credit a:link {
    color: #00ccff;
}

h2 {
    color: #00ccff;
}

.syntax {
    color: #E000FF;
}

.box {
    display: none;
}

.dd-content {
    overflow: hidden;
    color: white;
}

.title {
    display: inline-block;
    position: relative;
    color: #00ccff;
    background-color: #121f1f;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    width: 80%;
    border-radius: 10px;
    margin-top: 15px;
}

.box + .dd-content {
    max-height: 0;
    transition: max-height 0.25s ease-in;
    overflow: hidden;
}

.box:checked + .dd-content {
    max-height: 150px;
    transition: max-height 0.25s ease-out;
}

/* https://codepen.io/raneio/pen/NbbZEM */
